---
import Layout from '@/layouts/Layout.astro';
import { getLangFromUrl, useTranslations } from '@/i18n/utils';

const lang = getLangFromUrl(Astro.url);
const t = useTranslations(lang);
---

<Layout title={t('site.title')} description={t('site.description')}>
  <main>
    <h1 class="text-4xl font-bold text-amber-300">{t('home.title')}</h1>
    <p>{t('home.subtitle')}</p>
  </main>
</Layout>
