---
import NavLegal from '@/components/NavLegal.astro';
import NavSocial from '@/components/NavSocial.astro';
import { getLangFromUrl, useTranslations } from '../i18n/utils';

const lang = getLangFromUrl(Astro.url);
const t = useTranslations(lang);
---

<footer class="bg-footer bg-cover bg-center bg-no-repeat px-4">
  <div
    class="container mx-auto flex flex-col items-center justify-center gap-4 pt-16 pb-6 text-center md:gap-2.5 md:pt-28 md:pb-28"
  >
    <a href="#">
      <img
        width="120px"
        height="88px"
        src="/logo.webp"
        alt="Zoco Restaurant"
        class="pointer-events-none mb-4 select-none"
      />
    </a>
    <a
      class="hover:text-warm-gold transition-colors"
      href="tel:822904911"
      target="_blank">822 90 49 11</a
    >
    <a
      class="hover:text-warm-gold transition-colors"
      href="mailto:info@zocoreataurant.es"
      target="_blank">info@zocorestaurant.es</a
    >
    <a
      class="hover:text-warm-gold transition-colors"
      href="https://share.google/btPwRooyLphPPGBrX"
      target="_blank">{t('footer.address')}</a
    >
    <p class="font-playfair mt-7 text-3xl font-bold uppercase md:mt-11">
      {t('footer.schedule.title')}
    </p>
    <p class="text-lg font-bold">
      {t('footer.schedule.hours')}:<span class="font-normal"> 13:00 22:30</span>
    </p>
    <p
      class="font-playfair mt-12 mb-7 text-5xl font-bold uppercase md:mt-16 md:mb-11 md:max-w-3xl md:text-7xl"
    >
      {t('footer.cta')}
    </p>
    <NavSocial />
    <div
      class="border-dark-gray mt-10 flex w-full justify-center border-t pt-6"
    >
      <NavLegal />
    </div>
  </div>
</footer>
