<aside
  class="bg-almost-black-gray/95 fixed top-0 left-0 z-10 flex h-screen w-full items-center justify-center backdrop-blur-md"
  style="display: none;"
>
  <div class="flex h-screen w-full flex-col items-center justify-center">
    <h2 class="mb-4 text-xl font-bold">Menú Principal</h2>
    <p>contenido del menu</p>
  </div>
</aside>
