---
import {
  getLangFromUrl,
  useTranslatedPath,
  useTranslations,
} from '@/i18n/utils';

const lang = getLangFromUrl(Astro.url);
const t = useTranslations(lang);
const translatePath = useTranslatedPath(lang);
---

<ul class="flex gap-11">
  <li>
    <a
      class="hover:text-warm-gold transition-colors"
      href={translatePath('/legal/')}
    >
      {t('navLegal.legal')}
    </a>
  </li>
  <li>
    <a
      class="hover:text-warm-gold transition-colors"
      href={translatePath('/privacy/')}
    >
      {t('navLegal.privacy')}
    </a>
  </li>
  <li>
    <a
      class="hover:text-warm-gold transition-colors"
      href={translatePath('/cookies/')}
    >
      {t('navLegal.cookies')}
    </a>
  </li>
</ul>
