---
import Facebook from '@/icons/facebook.astro';
import Instagram from './icons/instagram.astro';
import TikTok from './icons/tiktok.astro';
---

<ul>
  <li>
    <a href="" target="_blank" rel="noopener"> <Facebook /></a>
  </li>
  <li>
    <a href="" target="_blank" rel="noopener"> <Instagram /> </a>
  </li>
  <li>
    <a href="" target="_blank" rel="noopener"> <TikTok /> </a>
  </li>
</ul>
