---
import Facebook from '@/components/icons/facebook.astro';
import Instagram from '@/components/icons/instagram.astro';
import TikTok from '@/components/icons/tiktok.astro';
---

<ul>
  <li>
    <a href="" target="_blank" rel="noopener"> <Facebook /></a>
  </li>
  <li>
    <a href="" target="_blank" rel="noopener"> <Instagram /> </a>
  </li>
  <li>
    <a href="" target="_blank" rel="noopener"> <TikTok /> </a>
  </li>
</ul>
