---
import Footer from '@/components/Footer.astro';
import Head from '@/components/Head.astro';
import Header from '@/components/Header.astro';
import '@/styles/global.css';

import { getLangFromUrl } from '@/i18n/utils';

export interface Props {
  title: string;
  description: string;
}

const lang = getLangFromUrl(Astro.url);
const { title, description } = Astro.props;
---

<!doctype html>
<html lang={lang}>
  <head>
    <Head title={title} description={description} />
  </head>
  <body class="bg-almost-black-gray text-ivory-sand font-nunito-sans">
    <Header />
    <main>
      <slot />
    </main>
    <Footer />
  </body>
</html>
